<html lang="en">
  <head>
    <script src="https://kit.fontawesome.com/a0dcbd7f59.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PewPew2D</title>
  </head>
  <body>
    <div class="app-header">
      <h1 class="game-title">PewPew2D</h1>
      <p class="game-title-disc">
        <i>"the best game to ever exist"</i> <span>-developer</span>
      </p>
    </div>
    <div class="play-options">
      <button class="play-w-randoms-btn white-dark-blue-btn">play w/ randoms</button>
      <button class="custom-game-btn white-dark-blue-btn">join/create a custom game</button>
    </div>
    <div class="footer">@copyright or something idk: poto, 2021?</div>

    <div class="custom-game popup not-active">
      <button class="close-popup">x</button>

      <!-- custom game created section -->
      <div class="custom-game-created-section not-active">
        <div class="custom-game-created-title title">custom game created!</div>
        <div class="custom-game-code">
          <p>your game's code:</p> <span class="custom-game-code-span"></span>
        </div>
        <button class="delete-custom-game-btn cancel">delete</button>
        <p class="custom-game-code-advice">share the code with your friends! <span>if you have any :D</span></p>
      </div>
      <!--  -->

      <!-- create custom game section -->
      <div class="create-custom-game-section">
        <div class="loading-icon-parent not-active">
          <div class="loading-icon">
            <i class="fas fa-circle-notch"></i>
          </div>
        </div>
        <div>
          <div class="create-custom-game-title title">create a custom game</div>
          <div class="custom-game-mode-input">
            <p>choose a game mode:</p> <button class="option-1v1">1 VS 1</button>
            <button class="option-2v2 disabled">2 VS 2</button>
          </div>
        </div>
        <button class="create-custom-game-btn confirm">create!</button>
        <button class="create-custom-game-cancel-btn cancel">cancel</button>
      </div>
      <!--  -->

      <div class="line"></div>

      <!-- join a custom game section -->
      <div class="join-custom-game-section">
        <div class="loading-icon-parent not-active">
          <div class="loading-icon">
            <i class="fas fa-circle-notch"></i>
          </div>
        </div>
        <div>
          <div class="join-custom-game-title title">join a custom game</div>
          <div class="join-custom-game-code-input">
            <input type="text" placeholder="custom game's code">
          </div>
        </div>
        <button class="join-custom-game-btn confirm">join</button>
        <button class="join-custom-game-cancel-btn cancel">cancel</button>
      </div>
      <!--  -->
    </div>

    <div class="play-w-randoms popup not-active">
      <button class="close-popup">x</button>
      <div class="loading-icon-parent not-active">
        <div class="loading-icon">
          <i class="fas fa-circle-notch"></i>
        </div>
      </div>
      
      <div>
        <div class="game-disc">
          <div class="game-type">1 VS 1</div>
          <div class="game-howtoplay">
            <div class="htp-1v1">
              you play against another player and try to win, there is two rounds if you win both; you win the game and vice versa
              but if there is a tie, you will play a third and final round. there is only one win condition:
              <ul>
                <li>DESTROY your opponent!!!</li>
              </ul> 
            </div>
            <div class="htp-2v2 not-active">
              you play with another player as a team against another team and try to win, there is two rounds if your team wins both; your team wins the game and vice versa
              but if there is a tie, you will play a third and final round. there is only one win conditions:
              <ul>
                <li>kill both your opponents </li>
              </ul> 
            </div>
          </div>
        </div>
        <div class="game-options">
          <button class="btn-1v1 white-dark-blue-btn">1 vs 1</button>
          <button class="btn-2v2 white-dark-blue-btn">2 vs 2</button>
        </div>
      </div>
      <div class="play-cancel-ops">
        <button class="confirm">play!</button>
        <button class="cancel">cancel</button>
      </div>
    </div>
    <div class="blur not-active"></div>
    <script src="/main.js"></script>
  </body>
</html>
