* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--font-color);
    
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 40px;
    background-color: var(--dark-blue-1);
}
.app-header {
    margin: 30px;
    text-align: center;
}
.game-title {
    font-size: 3rem;
}
.play-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.white-dark-blue-btn {
    margin: 0.5em;
    padding: 0.5em;
    font-size: 1.2rem;
    cursor: pointer;
    border: solid 1px var(--font-color);
    color: var(--font-color);
    background-color: var(--dark-blue-1);
}
.white-dark-blue-btn:hover {
    color: var(--dark-blue-1);
    background-color: var(--font-color);
}
.play-options button {
    width: 200px;
}
.close-popup {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 3rem;
    width: 40px;
    height: 40px;
}
.game-type {
    font-size: 3rem;
    text-align: center;
}
.game-howtoplay {
    margin: 30px 0;
    font-size: 0.9rem;

}
.game-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.game-options button {
    width: 50%;
}
.play-cancel-ops {
    margin: 20px;
    width: 100%;
    display: flex;
}
.play-cancel-ops button {
    margin: auto;
    background-color: transparent;
    padding: 0.5em;
    font-size: 1.2rem;
    cursor: pointer;
    width: 40%;
}
.confirm {
    color: var(--noice-green);
    border: solid 1px var(--noice-green);
}
.cancel {
    color: var(--noice-red);
    border: solid 1px var(--noice-red);
}
.play-cancel-ops button:hover {
    color: var(--font-color);
}
.confirm:hover {
    background-color: var(--noice-green) !important;
}
.cancel:hover {
    background-color: var(--noice-red) !important;
}
.confirm.disabled {
    filter: opacity(40%);
    pointer-events: none;
}
.loading-icon-parent:not(.not-active) + div {
    filter: opacity(20%);
    pointer-events: none;
}
.loading-icon-parent {
    z-index: 99999;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}
.loading-icon {
    font-size: 5rem;
    margin: auto;
    animation: loadingRotation 1s linear infinite;
}
@keyframes loadingRotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.footer {
    position: absolute;
    bottom: 5px;
    font-size: 0.8rem;
}


.create-custom-game-section,
.custom-game-created-section,
.join-custom-game-section {
    text-align: center;
}
.custom-game-mode-input {
    display: flex;
    margin: 30px 20px;
}
.custom-game-mode-input * {
    margin: auto;
}
.custom-game-mode-input button {
    color: var(--font-color);
    background-color: transparent;
    border: solid 1px var(--font-color);
    padding: 3px;
}
.custom-game-mode-input button.disabled {
    opacity: 50%;
    cursor: pointer;
}
.custom-game-mode-input button.disabled:hover {
    opacity: 1;
    color: var(--dark-blue-1);
    background-color: var(--font-color);
}
.custom-game .confirm,
.custom-game .cancel {
    background-color: transparent;
    padding: 0.3em;
    font-size: 1.2rem;
    margin: 5px 20px;
    cursor: pointer;
    width: 100px;
}
.custom-game .confirm:hover,
.custom-game .cancel:hover {
    color: var(--font-color);
}
.custom-game .loading-icon {
    font-size: 3rem;
}
.custom-game-code {
    font-size: 1.2rem;
    margin: 20px 0;
}
.custom-game-code-span {
    font-weight: bold;
}
.custom-game-code-advice {
    font-size: 0.9rem;
}
.custom-game-code-advice span {
    font-size: 0.7rem;
}
.join-custom-game-code-input input {
    margin: 20px 0;
    padding: 6px;
    width: 80%;
    font-size: 1.1rem;
    border: solid 1px var(--saturated-blue);
    border-radius: 8px;
    background-color: var(--saturated-blue);
    color: var(--font-color);
}
.join-custom-game-code-input input:focus {
    outline: none;
    border: solid 1px var(--font-color);
}